%h3 投稿エリア
- @messages.each do |message|
  %p= message.username
  %p= message.message

%hr

= form_tag '/welcome/create' do
  = label_tag :username, '名前:'
  = text_field_tag :username
  %br
  %br
  = label_tag :message, '本文:'
  = text_area_tag :message
  %br
  %br
  = submit_tag '投稿'

  %p#error= flash[:error]


